trigger: none

pool:
  vmImage: windows-2022

stages:
- stage: 'InfraSetup'
  jobs:
  - job: Job_1
    displayName: 'TF_Infra_Build'
    steps:
    - task: AzureKeyVault@2
      inputs:
        azureSubscription: 'DevOps-Learning (f48e8bb1-b672-439f-969d-4d0ef85f4012)'
        KeyVaultName: 'terrafrom-kvlt'
        SecretsFilter: '*'
        RunAsPreJob: true
    - task: PowerShell@2
      name: 'Backend_Setup'
      inputs:
        filePath: 'Master-TF-Infra/Scripts/Replace.ps1'
        arguments: '-environment "$(environment)" -projectName "$(projectName)" -storageRG "$(storageRG)" -storageAccount "$(storageAccount)" -storageContainer "$(storageContainer)" -storageKey "$(storageKey)"'
    # - task: PowerShell@2
    #   name: 'Print_and_check'

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: PowerShell@2
      name: Initialize_Terraform
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          cd "Master-TF-Infra/Root/"
          Write-Host "<<<<<<<<<<<<<<<Terrform Init Section>>>>>>>>>>>>>>>"
          terraform init -var "azure_client_id=$(azure-client-id)" -var "azure_client_secret=$(azure-client-secret)" -var "azure_tenant_id=$(azure-tenant-id)" -var "azure_subscription_id=$(azure-subscription-id)" -upgrade

    - task: PowerShell@2
      name: Planning_Terraform
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          cd "Master-TF-Infra/Root/"
          Write-Host "<<<<<<<<<<<<<<<Terrform Plan Section>>>>>>>>>>>>>>>"
          terraform plan -var "azure_client_id=$(azure-client-id)" -var "azure_client_secret=$(azure-client-secret)" -var "azure_tenant_id=$(azure-tenant-id)" -var "azure_subscription_id=$(azure-subscription-id)"

    - task: PublishPipelineArtifact@1
      name: Publish_TF_Artifact
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)'
        artifact: 'TerraformPackage'
        publishLocation: 'pipeline'
    #   inputs:
    #     targetType: 'inline'
    #     script: |
    #       # Write your PowerShell commands here.
    #       Get-Content -Path "Master-TF-Infra/Root/backend.tf"

  - job: Job_2
    displayName: 'TF_Infra_Validation_Approval'
    dependsOn: Job_1
    pool:
      name: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'devopswithdj@gmail.com'
        approvers: 'devopswithdj@gmail.com'
        instructions: 'Please Review Terraform plan and Approve/Reject the task.'

  - job: Job_3
    displayName: 'TF_Deploy_Section'
    dependsOn: Job_2
    steps:

    - task: AzureKeyVault@2
      inputs:
        azureSubscription: 'DevOps-Learning (f48e8bb1-b672-439f-969d-4d0ef85f4012)'
        KeyVaultName: 'terrafrom-kvlt'
        SecretsFilter: '*'
        RunAsPreJob: true
    - task: DownloadBuildArtifacts@1
      inputs:
        buildType: 'current'
        downloadType: 'specific'
        downloadPath: '$(System.ArtifactsDirectory)'

    - task: PowerShell@2
      name: Check_content
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          cd "$(System.ArtifactsDirectory)/TerraformPackage/Master-TF-Infra/Root/"
          Write-Host "<<<<<<<<<<<<<<<listing Files here>>>>>>>>>>>>>>>"
          Get-ChildItem -Recurse

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: PowerShell@2
      name: Initialize_Terraform
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          cd "$(System.ArtifactsDirectory)/TerraformPackage/Master-TF-Infra/Root/"
          Write-Host "<<<<<<<<<<<<<<<Terrform Init Section>>>>>>>>>>>>>>>"
          terraform init -var "azure_client_id=$(azure-client-id)" -var "azure_client_secret=$(azure-client-secret)" -var "azure_tenant_id=$(azure-tenant-id)" -var "azure_subscription_id=$(azure-subscription-id)" -upgrade


    - task: PowerShell@2
      name: Applying_Terraform
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          cd "$(System.ArtifactsDirectory)/TerraformPackage/Master-TF-Infra/Root/"
          Write-Host "<<<<<<<<<<<<<<<Terrform Apply Section>>>>>>>>>>>>>>>"
          terraform apply -var "azure_client_id=$(azure-client-id)" -var "azure_client_secret=$(azure-client-secret)" -var "azure_tenant_id=$(azure-tenant-id)" -var "azure_subscription_id=$(azure-subscription-id)" -auto-approve

    - task: PublishPipelineArtifact@1
      name: Publish_TF_Artifact
      inputs:
        targetPath: '$(System.ArtifactsDirectory)/TerraformPackage'
        artifact: 'TerraformFinalPackage'
        publishLocation: 'pipeline'

  - job: Job_4
    displayName: 'TF_Delete_Validation_Approval'
    dependsOn: Job_3
    pool:
      name: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'devopswithdj@gmail.com'
        approvers: 'devopswithdj@gmail.com'
        instructions: 'Please Review Azure Dashboard and approve or Reject the task.'

  - job: Job_5
    displayName: 'TF_Destroy_Section'
    dependsOn: Job_4
    steps:
    - task: AzureKeyVault@2
      inputs:
        azureSubscription: 'DevOps-Learning (f48e8bb1-b672-439f-969d-4d0ef85f4012)'
        KeyVaultName: 'terrafrom-kvlt'
        SecretsFilter: '*'
        RunAsPreJob: true
    - task: DownloadBuildArtifacts@1
      inputs:
        buildType: 'current'
        downloadType: 'specific'
        downloadPath: '$(System.ArtifactsDirectory)'

    - task: PowerShell@2
      name: Check_content
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          cd "$(System.ArtifactsDirectory)/TerraformFinalPackage/Master-TF-Infra/Root/"
          Write-Host "<<<<<<<<<<<<<<<listing Files here>>>>>>>>>>>>>>>"
          Get-ChildItem -Recurse

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          # Replace values in the backend.tf file
          cd "$(System.ArtifactsDirectory)/TerraformFinalPackage/Master-TF-Infra/Root"
          
          # Setting up backend configuration
          $filePath = ".\backend.tf"
          
          (Get-Content $filePath) | ForEach-Object {
              $_ -replace 'env', '$(environment)' `
                -replace 'projectname', '$(projectName)' `
                -replace 'StorageRG', '$(storageRG)' `
                -replace 'StorageName', '$(storageAccount)' `
                -replace 'StorageContainer', '$(storageContainer)' `
                -replace 'StorageString', '$(storageKey)'
          } | Set-Content $filePath
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: PowerShell@2
      name: Initialize_Terraform
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          cd "$(System.ArtifactsDirectory)/TerraformFinalPackage/Master-TF-Infra/Root/"
          Write-Host "<<<<<<<<<<<<<<<Terrform Init Section>>>>>>>>>>>>>>>"
          terraform init -var "azure_client_id=$(azure-client-id)" -var "azure_client_secret=$(azure-client-secret)" -var "azure_tenant_id=$(azure-tenant-id)" -var "azure_subscription_id=$(azure-subscription-id)" -upgrade

    - task: PowerShell@2
      name: Applying_Terraform
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          cd "$(System.ArtifactsDirectory)/TerraformFinalPackage/Master-TF-Infra/Root/"
          Write-Host "<<<<<<<<<<<<<<<Terrform Apply Section>>>>>>>>>>>>>>>"
          terraform destroy -var "azure_client_id=$(azure-client-id)" -var "azure_client_secret=$(azure-client-secret)" -var "azure_tenant_id=$(azure-tenant-id)" -var "azure_subscription_id=$(azure-subscription-id)" -auto-approve


    # - task: PowerShell@2
    #   name: 'Cleaning_Repo'
    #   inputs:
    #     targetType: 'inline'
    #     script: |
    #       # Write your PowerShell commands here.
          
    #       Write-Host "Cleaning Repo"
    #       Remove-Item .\* -Recurse -Force