trigger: none
pool:
  vmImage: windows-2022
variables:
  environment: 'dev'
  projectName: 'opstool'
  storageRG: 'terraform-rg'
  storageContainer: 'tfteststatefiles'
stages:
- stage: 'InfraSetup'
  jobs:
  - job: 'TF_Infra_Build'
    steps:
    - task: AzureKeyVault@2
      inputs:
        azureSubscription: 'DevOps-Learning (f48e8bb1-b672-439f-969d-4d0ef85f4012)'
        KeyVaultName: 'terrafrom-kvlt'
        SecretsFilter: '*'
        RunAsPreJob: true
