trigger: none
pool:
  vmImage: windows-2022

stages:
- stage: 'InfraSetup'
  jobs:
  - job: 'TF_Infra_Build'
    steps:
    - task: AzureKeyVault@2
      inputs:
        azureSubscription: 'DevOps-Learning (f48e8bb1-b672-439f-969d-4d0ef85f4012)'
        KeyVaultName: 'terrafrom-kvlt'
        SecretsFilter: '*'
        RunAsPreJob: true
    - task: PowerShell@2
      name: 'Backend_Setup'
      inputs:
        filePath: 'Master-TF-Infra/Scripts/Replace.ps1'
        arguments: '-environment "$(environment)" -projectName "$(projectName)" -storageRG "$(storageRG)" -storageAccount "$(storageAccount)" -storageContainer "$(storageContainer)" -storageKey "$(storageKey)"'
    - task: PowerShell@2
      name: 'Print_and_check'
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          Get-Content -Path "Master-TF-Infra/Root/backend.tf"

    - task: PowerShell@2
      name: 'Cleaning_Repo'
      inputs:
        targetType: 'inline'
        script: |
          # Write your PowerShell commands here.
          
          Write-Host "Cleaning Repo"
          Remove-Item $(Build.SourceDirectory)\* -Recurse -Force